<!DOCTYPE html>
<html>
<head>

<title>CSA Pickup Finder</title>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<link rel="stylesheet" type="text/css" href="css/csa.styles.css" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type='text/javascript' src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBq8IK9i01QUEBblYNr1uNPQdiiUIuzTtk&sensor=false">
</script>
<script type='text/javascript' src="js/main.js"></script>
<script type='text/javascript' src="js/map.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
    window.CSA.initialize();
    var pins = {{ pins|safe }};
    window.Map.initialize({{ lat }}, {{ lng }}, {{ zoom }}, pins);
	});
</script>
</head>

<body>

<div class='page'>
  <header>CSA Pickup Finder</header>

  <div class='search'>
  	<form name='search' action="/" method="get">
  		<input id='addressInput' name='address' type='text' value='{{ address }}'>
  		<input class='button' type='submit' value='Submit'>
  	</form>
  </div>

  <div class='map-wrapper'>
    <div id='map-canvas'></div>
  </div>

  <div id='right-bar'>
    <ol id='site-list'>
    {% for site in site_list %}
      <li>
        <a href='/csa/{{site.csa.key}}'>
        	<h3 class='csa'>{{ site.csa.name }} </h3>
        </a>
      	<div class='name'>{{ site.name }}</div>
      	<div class='address'>{{ site.address }}</div>
      </li>
    {% endfor %}
    </ol>
  </div>

  <div id='details'>Users click on CSA name to see a more in-depth description here.</div>
  <div class='push'></div>
</div>
<footer>
  c. Vivian Brown 2015
</footer>
</body>
</html>