<!DOCTYPE html>
<html>
<head>

<title>CSA Pickup Finder</title>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<link rel="stylesheet" type="text/css" href="static/css/styles.css" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type='text/javascript' src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBq8IK9i01QUEBblYNr1uNPQdiiUIuzTtk&sensor=false">
</script>
<script type='text/javascript' src="static/js/map.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		var pins = {{ pins|safe }};
		window.Map.initialize({{ lat }}, {{ lng }}, pins);
	});
</script>
</head>

<body>
<div id="my-data" data-name="{{ site_list }}"></div>

<div id='wrapper'>
<header>CSA Pickup Finder</header>

<div id='options'>
	<form name='search' action="/" method="get">
		<input id='addressInput' name='address' type='text' value='{{ address }}'>
		<input class='button' type='submit' value='Submit'>
	</form>
</div>

<div id='map-canvas'></div>

<div id='right-bar'>
  <ol id='site-list'>
  {% for site in site_list %}
    <li>
    	<h3>{{ site.csa.name }} </h3>
    	<div class='name'>{{ site.name }}</div>
    	<div class='address'>{{ site.address }}</div>
    </li>
  {% endfor %}
  </ol>
</div>

<div id='details'>Users click on CSA name to see a more in-depth description here.</div>

<footer>c. 2015</footer>
</div>
</body>
</html>