@include border-box-sizing;

header {
  padding: 10px;
}

footer {
  width: 100%;
}

#wrapper {
  width: 700px;
  margin: auto;
}

.page, footer {
  // Define mobile container and grid.
  @include container($susy);

  // Narrow.
  @include breakpoint($narrow) {
    @include container($narrow-grid);
  }

  // Normal.
  @include breakpoint($normal) {
    @include container($normal-grid);
  }
}

.page, footer {
  @include full-column;
}

article {
  
  @include clearfix;
}