#right-bar {
	// float: left;
	// width: 300px;

	li {
		margin-bottom: 20px;
	}

	h3 {
		font-size: 12pt;
		margin-top: 5px;
		margin-bottom: 5px;
	}
}

#details {
	// width: 100%;
	margin-bottom: 30px;
}