html { height: 100% }

body { height: 100%; margin: 0; padding: 0 }

footer {
	float: left;
	height: 100px; 
	width: 100%;
}

#wrapper {
	width: 700px;
	margin: auto;
}

#map-canvas { 
	float: left;
	height: 400px; 
	width: 400px;
}

#right-bar {
	float: left;
	height: 300px; 
	width: 300px;
}

#details {
	float: left;
	height: 100px; 
	width: 100%;
}