html { height: 100% }

body { height: 100%; margin: 0; padding: 0 }

header {
	padding: 10px;
}

footer {
	float: left;
	height: 100px; 
	width: 100%;
}

#wrapper {
	width: 700px;
	margin: auto;
}

#map-canvas { 
	float: left;
	height: 400px; 
	width: 400px;
}

#right-bar {
	float: left;
	height: 300px; 
	width: 300px;
}

#right-bar li {
	margin-top: 20px;
	margin-bottom: 20px;
}

#right-bar h3 {
	font-size: 12pt;
	margin-top: 5px;
	margin-bottom: 5px;
}

#details {
	float: left;
	height: 100px; 
	width: 100%;
}